<div class="job-application">
  <div class="job-application-header">
    <h2 class="job-title-h">${jobTitle}</h2>
    <div class="location-job">
      <span>${company};</span>
      <span>${location};</span>
      <span>Posted on${date_posted};</span>
      <span>${application_count} Applicants</span>
    </div>
  </div>
  <div class="job-application-info">
    <div class="job-detail">
      <i class="fa-solid fa-suitcase"></i>
      <span>${location}</span>
      <span>${job_type}</span>
    </div>
  </div>
  <h2>${jobTitle}</h2>
  <p>${job_description}</p>
  <h3>Requirements:</h3>
  <ul>
    ${requirementsList}
  </ul>
  <h3>Application Instructions:</h3>
  <p>${application_process}</p>
</div>
